@{
    ViewBag.Title = "Home Page";
}

<ul class="list-group">
    <li class="list-group-item"> <a href="@Url.Action("Index", "Users")">configure Users</a></li>
    <li class="list-group-item"> <a href="@Url.Action("Index", "Games")">configure Games</a></li>
    <li class="list-group-item"> <a href="@Url.Action("Index", "Ratings")">configure Ratings</a></li> 
    <li class="list-group-item"> <a href="@Url.Action("Index", "Login")">configure roles</a></li> 
</ul>